@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin font-family($font) {
  font-family: $font, "Helvetica Neue", Helvetica, sans-serif;
}