$white:                 #fff;
$pink:                  #ff4e50;
$gray:                  #333;
$dark-grey:             #ccc;
$orange:                #ffa507;
$tifany:                #1cd7ad;
$blue:                  #4e73db;
$light-gray:            #666;

$black:                 #181a1d;
$gold:                  #f4b60d;
$um:                    'ubuntumedium';
$uc:                    'ubuntu_condensedregular';
$ul:                    'ubuntulight';
