* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-color: $white;
}
.wrapper {
  margin: 0 auto;
  max-width: 1160px;
  width: 100%;
}
/*--- clearfix ---*/
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}