* {
	margin: 0;
}
body {
	background-color: #eee;
}
p {
	padding-left: 70px;
}
hr {
	width: 80%;
	margin: 20px auto;
}
.wrapper {
	width: 510px;
	max-width: 95%;
	margin: 5px auto 45px;
	background-color: #fff;	
	-webkit-box-shadow: 0 0 13px -1px #6E6767;
	   -moz-box-shadow: 0 0 13px -1px #6E6767;
	        box-shadow: 0 0 13px -1px #6E6767;
	font-size: 18px;        
	text-align: left;	
}
.who {
	padding-top: 50px;
	text-align: center;
}
.who img {
	width: 150px;
	height: 150px;
	margin: 20px 0 15px;
}
.who p {
	text-align: left;	
}
.why ul {
	margin: 20px 0 0 70px;
}
.why li {
	padding-bottom: 5px;
}
.contacts p {
	margin-bottom: 15px;
}
.feedback {
	padding-bottom: 65px;
}
.feedback p {
	padding-bottom: 5px;
}