body {
	background: #ccc;
}
h1 {
	color: #333;
}
h4 {
	margin-bottom: 0;
	color: #333;
}
.btn {
	margin-bottom: 5px;
}
.clockFace {
	margin-top: 200px;
	padding-left: 40px;	
	font-size: 40px;
}
.splitWrapp {
	text-align: center;
}