$white:                 #fff;
$black:                 #181a1d;
$blue:                  #248cec;
$gold:                  #f4b60d;
$gray:                  #2a2d32;
$light-gray:            #8a8a8a;
$um:                    'ubuntumedium';
$uc:                    'ubuntu_condensedregular';
$ul:                    'ubuntulight';
